<div class="job-search hidden-xs">
            <div class="container-fluid">
                <div class="logo">
                    <a href="/"><img src="/static/img/jobsmaster-{{settings.country}}.png" /></a>
                    
                </div>
                <div class="search-bars">
                    <form action="/search" method="GET">
                        <input type="hidden" name="page" value="1">
                    <div class="search-what">
                        <label>what</label>

                        <input type="text" name="q" value="{{q}}" class="form-control" />
                        <span>job title, keywords or company name</span>
                        
                        <!-- <div class="auto-complete-what hidden">
                            <div class="auto-item">
                                <p>Engineering</p>
                            </div>
                            <div class="auto-item">
                                <p>English</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="search-where">
                        <label>where</label>
                        <input type="text" name="location" value="{{location}}" class="form-control" />
                        <span>city, state</span>
                        
                       <!--  <div class="auto-complete-where hidden">
                            <div class="auto-item">
                                <p>Lagos NG</p>
                            </div>
                            <div class="auto-item">
                                <p>Ibadan NG</p>
                            </div>
                        </div> -->
                    </div>
                    <div class="find-button">
                        <label class="not-visible">caption</label>
                        <button type="submit" class="form-control btn-xs blue">Find Jobs</button>
                        <!-- <span><a href="">Advanced Job Search</a></span> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                         <i class="fa fa-search fa-lg"></i>
                    </button>                    
                </div>
                 <!--
                | Mobile view search bar
                -->
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="search-bars visible-xs " id="navbar" class="navbar-collapse collapse">
                        <form method="GET" action="/search" class="">
                            <input type="hidden" name="page" value="1">
                            
                            <div class="search-what col-xs-12">
                                <label class = "navbr-brand">what</label>
                                <input type="text" name="q" class="form-control" />
                                <p> </p>

                                <!-- <div class="auto-complete-what hidden">
                                    <div class="auto-item">
                                        <p>Engineering</p>
                                    </div>
                                    <div class="auto-item">
                                        <p>English</p>
                                    </div>
                                </div> -->
                            </div> 

                            <div class="search-what col-xs-12">
                                <label class = "navbr-brand">where</label>
                                <input type="text" name="location" class="form-control" />

                                <!-- <div class="auto-complete-what hidden">
                                    <div class="auto-item">
                                        <p>Engineering</p>
                                    </div>
                                    <div class="auto-item">
                                        <p>English</p>
                                    </div>
                                </div> -->
                            </div>


                            <div class="find-button col-xs-12">
                                <label class="not-visible">caption</label>
                                <button type="submit" class="form-control blue">Find Jobs</button>
                                <!-- <span><a href="">Advanced Job Search</a></span> -->
                            </div>
                        </form>
                    </div>
                </div>
                 
                 
                 
                 
                 
            </div>
        </nav>

        <!--<div class="search-bars visible-xs">
            <form method="GET" action="/search">
                <input type="hidden" name="page" value="1">
                <div class="search-what">
                    <label>what</label>
                    <input type="text" name="q" class="form-control" />

                     <div class="auto-complete-what hidden">
                        <div class="auto-item">
                            <p>Engineering</p>
                        </div>
                        <div class="auto-item">
                            <p>English</p>
                        </div>
                    </div> 
                </div>
                <div class="find-button">
                    <label class="not-visible">caption</label>
                    <button type="submit" class="form-control blue">Find Jobs</button>
                     <span><a href="">Advanced Job Search</a></span> 
                </div>
            </form>
        </div>-->
        
        <!--
        | Mobile view search bar
         -->
        