{% extends 'theme1/base.html' %}

{% block content %}
        {% include 'theme1/alert-topbar.html' %}
       


        <div class="index-content">

            <div class="container-fluid ">

                <div class="col-md-6 col-sm-6 hidden-xs"> 
                    <h3>Create Email Job Alert</h3>
                    <p>Simply enter a search and we'll email you new jobs that match your criteria. We send our alerts once a day, so new matching jobs are included in a single daily email.</p>
                    <ul>
                        <li>Track jobs in your city, with your employer or for a company you want to work for. We'll let you know whenever we find a job that matches.<br>&nbsp;</li>
                        <li>Stop and start your alerts at any time.  To cancel an alert, click the "<b>Cancel</b>" link at the bottom of every alert email.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" id="alert-box">
                    <!-- contains email alert -->
                </div>
            </div>

        </div>
        
        
        

{% endblock %}

{% block scripts %}
    <script type="text/jsx" src="/static/js/scripts/components-production.js"></script>
    <script type="text/jsx">
        React.render(<AlertBox country="{{settings.country}}" required="email" />, document.getElementById("alert-box"));
    </script>
{% endblock %}