<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="{{meta_description|replace("[country]", settings.country)|replace("[q]", q)|replace("[location]", location)}}">
        <meta name="author" content="">
        <!-- <link rel="icon" href="/static/img/jobsmaster-favicon.png"> -->
        <link rel="shortcut icon" type="image/png" href="/static/img/jobsmaster-favicon.png"/>

        <title>{{meta_title|replace("[country]", settings.country)}}</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/stylesheets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/stylesheets/css/app.css" rel="stylesheet">
        <link href="/static/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- google analytics code -->
        {% include 'theme1/includes/ga.html' %}
    </head>

    <body>

        <!-- Static navbar -->
        {% block navbar %}
            {% include 'theme1/includes/nav.html' %}
        {% endblock navbar %}


        {% block content %}

        {% endblock content %}
        
        {% block footer %}
            {% include 'theme1/includes/footer.html' %}
        {% endblock footer %}


        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

        {% block scripts %}

        {% endblock %}


    </body>
</html>