{% extends 'theme1/base.html' %}
{% block content %}
    <div class="index-content">
            
            <div class="container-fluid">
                
                <div class="logo text-center">
                    <img src="/static/img/jobsmaster-{{settings.country}}.png" style="width:320px;"/>
                </div>
                
                <div class="search-bars">
                    <form method="GET" action="/search">
                        <input type="hidden" name="page" value="1">
                        <div class="search-what">
                            <label>what</label>
                            <input type="text" name="q" class="form-control" />
                            <span>job title, keywords or company name</span>
                            
                            <div class="auto-complete-what hidden">
                                <div class="auto-item">
                                    <p>Engineering</p>
                                </div>
                                <div class="auto-item">
                                    <p>English</p>
                                </div>
                            </div>
                        </div>
                        <div class="search-where">
                            <label>where</label>
                            <input type="text" name="location" class="form-control" />
                            <span>city, state</span>
                            
                            <div class="auto-complete-where hidden">
                                <div class="auto-item">
                                    <p>Lagos NG</p>
                                </div>
                                <div class="auto-item">
                                    <p>Ibadan NG</p>
                                </div>
                            </div>
                        </div>
                        <div class="find-button">
                            <label class="not-visible">caption</label>
                            <button type="submit" class="form-control btn-xs blue">Find Jobs</button>
                            <span class="hidden-xs"><a href="">Advanced Job Search</a></span>
                        </div>
                    </form>
                </div>
                
                
                <!-- <div class="upload-resume text-center hidden-xs">
                    <a href="#"><i class="fa fa-upload"></i> Upload your resume</a> - <span>Let employers find you</span>
                </div> -->
                
                <div class="popular-search hidden-xs">
                    <table class="table">
                        <caption>Popular Job Searches</caption>
                        <tbody>
                            <tr>
                                {% set row1 = categories[0:5] %}
                                {% for cat in row1 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% set row2 = categories[5:10] %}
                                {% for cat in row2 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                                
                            </tr>
                            <tr>
                                {% set row3 = categories[10:15] %}
                                {% for cat in row3 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% set row4 = categories[15:20] %}
                                {% for cat in row4 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% set row4 = categories[20:25] %}
                                {% for cat in row4 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% set row4 = categories[25:30] %}
                                {% for cat in row4 %}
                                    <td><a href="/search?category={{cat.slug}}&page=1">{{cat.name}}</a></td>
                                {% endfor %}
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                
                <div class="company-credits text-center hidden-xs">
                    <!-- <p><a href="#">Find Jobs</a> - <span>735,140</span> new jobs in the last 7 days</p> -->
                    <p><a href="/search">Search</a> job sites, newspapers, associations and company career pages.</p>
                    <div class="extra">
                        <p>{{settings.name}} helps people get jobs in {{settings.country}}
                    </div>
                </div>
                
                <!-- <section class="mobile text-center visible-xs">
                    <p>Get the top job search app</p>
                    <button class="btn btn-default">Download Indeed App - Free</button>
                </section> -->
                
            </div>
            
        </div>
    
{% endblock content %}
