<div class="result-item">
                        <h4><a href="">Professional Development Program (PDP) - PhD - Class of 2016 </a></h4>
                        <p>BASF <span class="yellow"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>  <a href="">421 reviews</a> - <span class="text-muted">Murfreesboro, TN</span></p>
                        <p>PhD degree in Chemistry, Biochemistry, or Chemical Engineering. Professional Development </p>
                        <p>Program (PDP) – PhD Class of 2016.... </p>
                        <p class="text-muted"><span>18 hours ago</span> - <a>save job</a> - <a>Email</a> - <a>more</a></p>
                    </div>
                    
                    <div class="result-item">
                        <h4><a href="">Engineer in Training</a></h4>
                        <p>Wiser Company - <span class="text-muted">Murfreesboro, TN</span></p>
                        <p>PROJECT ENGINEERING DUTIES:. Prepares invoices for engineering services rendered. </p>
                        <p>Special courses in applied engineering sciences and information technology... </p>
                        <p class="text-muted"><span>18 hours ago</span> - <a>save job</a> - <a>Email</a> - <a>more</a></p>
                    </div>

                    <div class="result-item">
                        <h4><a href="">Professional Development Program (PDP) - PhD - Class of 2016 </a></h4>
                        <p>BASF <span class="yellow"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>  <a href="">421 reviews</a> - <span class="text-muted">Murfreesboro, TN</span></p>
                        <p>PhD degree in Chemistry, Biochemistry, or Chemical Engineering. Professional Development </p>
                        <p>Program (PDP) – PhD Class of 2016.... </p>
                        <p class="text-muted"><span>18 hours ago</span> - <a>save job</a> - <a>Email</a> - <a>more</a></p>
                    </div>
                    
                    <div class="result-item">
                        <h4><a href="">Engineer in Training</a></h4>
                        <p>Wiser Company - <span class="text-muted">Murfreesboro, TN</span></p>
                        <p>PROJECT ENGINEERING DUTIES:. Prepares invoices for engineering services rendered. </p>
                        <p>Special courses in applied engineering sciences and information technology... </p>
                        <p class="text-muted"><span>18 hours ago</span> - <a>save job</a> - <a>Email</a> - <a>more</a></p>
                    </div>

                    <div class="result-item">
                        <h4><a href="">Professional Development Program (PDP) - PhD - Class of 2016 </a></h4>
                        <p>BASF <span class="yellow"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>  <a href="">421 reviews</a> - <span class="text-muted">Murfreesboro, TN</span></p>
                        <p>PhD degree in Chemistry, Biochemistry, or Chemical Engineering. Professional Development </p>
                        <p>Program (PDP) – PhD Class of 2016.... </p>
                        <p class="text-muted"><span>18 hours ago</span> - <a>save job</a> - <a>Email</a> - <a>more</a></p>
                    </div>