{% extends 'theme1/base.html' %}

{% block content %}
        {% include "theme1/alert-topbar.html" %}
        
        <div class="search-results">
            <div class="container-fluid">
                {% include 'theme1/includes/sidebar.html' %}
                
                <div class="search-result-content">
                    <div class="upload-resume">
                        <!--<a href="#"><i class="fa fa-upload"></i> Upload your resume</a> - <span>Let employers find you</span>-->
                        <p class="pull-right">Jobs <span>{{((pagination.current_page|int - 1)*10)+1}}</span> to <span>{{pagination.current_page|int * 10}}</span> of <span>{{total}}</span></p>
                    </div>
                    
                    {% for job in jobs %}
                        <div class="result-item">
                            <h4><a data-id="{{job.id}}" href="{{job.url}}" target="_blank">{{job.title[0]|title}}</a></h4>
                            
                                <p> 
                                    
                                    
                                    
                                     


                                    <div class="yellow star-rating" data-rating="{{job.rating|int/10}}">
                                        {% if job.company %}
                                            {{job.company|title}}
                                        {% endif %}

                                    </div> 
                                    
                                    
                                    
                                    {% if job.location %}
                                        - <span class="text-muted">{{job.location|title}}</span>
                                    {% endif %}
                                </p>
                            
                            <p>{{job.summary[0][0:190]|title}} </p>
                            <p class="text-muted time-ago" data-date="{{job.date}}"> <!-- - <a>save job</a> - <a>Email</a> - <a>more</a> --></p>
                        </div>
                    {% endfor %}


                    {% include 'theme1/includes/results-bottom-ad.html' %}
                    
                    
                    {% include 'theme1/includes/pagination.html' %}
                    
                    
                    
                    <!-- <div class="random-links">
                        <p>Related Forums: <span><a href="">Engineer</a> - <a href="">Associate</a> - <a>Engineering Technician</a> - <a href="" class="text-muted">more</a> </span></p>
                        <p>Salaries: <span><a href="">Engineer Salary</a> - <a href="">Associate Salary</a> - <a>Engineering Technician Salary</a> - <a href="" class="text-muted">more</a> </span></p>
                    </div> -->
                    
                </div>
                
                <div class="right-side">
                    <div id="subscribe-box">

                    </div>
                </div>
            </div>
        </div>

<div id="edit">
    <div id="edit_form">
        <form onsubmit="save_record();return false">
            <table>

            </table>
            <div id="edit_buttons"><button onclick="save_record()" type="button">Save</button> <button onclick="$('#edit').hide()" type="button">Cancel</button></div>
        </form>
    </div>
</div>

{% endblock %}
{% block footer %}
   
{% endblock %}
{% block scripts %}
     <script>
        $(function(){
            $('div.star-rating').raty({
                path:"https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/images",
              readOnly: true,
              score: function() {
                return $(this).attr('data-rating');
              }
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script type="text/jsx" src="/static/js/scripts/components.js"></script>
    <script type="text/jsx">
        React.render(<Subscribe country="{{settings.country}}" />, document.getElementById("subscribe-box"));
    </script>
    <script type="text/jsx">
        $(function(){
            $(".time-ago").each(function(i, element){
                var date = $(element).attr("data-date")
                React.render(<TimeBox date={date} />, element);
            })
        })
    </script>
    
    <!-- /*
    | Hot fix script for Jobsmaster
    | By Emeka Osuagwu
    | emekaosuagwuandela@gmail.com
    | Created Hide and Show plugin for unorder list
    */ -->
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/edit.js"></script>
    <script>
        $(document).ready(function(){
            edit();
            $('.more').click(function () 
            {
                // alert("in hee");
                $(this).parent().addClass("long");
            })
        });
    </script>
{% endblock %}