<footer class="footer">
            <div class="container-fluid">
                <!-- <a href="">Jobs</a> -->
                <!-- <a href="">Salaries</a> -->
                <!-- <a href="">Trends</a> -->
                <!-- <a href="">Forums</a> -->
                <a href="/search">Browse Jobs</a>
                <a href="https://ridwanolalere.wordpress.com/" target="_blank">Engineering</a>
                <a href="/sitemap.xml">Sitemap</a>
                {% if settings.country != "Nigeria" %}
                    <a href="http://jobsmaster.com.ng" target="_blank">Nigeria</a>
                {% endif %}
                {% if settings.country != "Ghana" %}
                    <a href="http://jobsmaster.com.gh" target="_blank">Ghana</a>
                {% endif %}
                {% if settings.country != "Kenya" %}
                    <a href="http://jobsmaster.co.ke" target="_blank">Kenya</a>
                {% endif %}
                <!-- <a href="">API</a> -->
                <!-- <a href="">About</a> -->
                <!-- <a href="">Help Center</a> -->
            </div>
        </footer>