<!-- <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Find Jobs</a></li>
                        <li><a href="#">Find Resumes</a></li>
                        <li><a href="#">Employers / Post Job</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="yellow">Upload your resume</a></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <br/>
        <br/>