<nav class="hidden-xs">
                        <ul class="yandex-pagination">
                            {% if pagination.has_prev%}
                                <li><a>&lt;&lt;</a></li>
                            {% endif %}

                            {% for page in pagination.backward_pages %}
                                <li><a href="/search?{{query_string|replace("page="+pagination.current_page, "page="+page)}}">{{page}}</a></li>
                            {% endfor %}


                                <li class="active"><a href="/search?{{query_string}}">{{pagination.current_page}}</a></li>
                            

                            {% for page in pagination.forward_pages %}
                                <li><a href="/search?{{query_string|replace("page="+pagination.current_page, "page="+page)}}">{{page}}</a></li>
                            {% endfor %}

                            {% if pagination.has_next%}
                                <li><a>...</a></li>
                            {% endif %}
                        </ul>
                    </nav>

                <nav class="visible-xs">
                        <ul class="yandex-pagination-single">
                            {% if pagination.backward_pages|length > 0 %}
                            <li class="">
                                <a href="/search?{{query_string|replace("page="+pagination.current_page, "page="+pagination.backward_pages[-1])}}" aria-label="Previous">
                                    &larr;
                                </a>
                            </li>
                            {% endif %}
                            <!-- <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li> -->
                            {% if pagination.forward_pages|length > 0 %}
                            <li class="">
                                <a href="/search?{{query_string|replace("page="+pagination.current_page, "page="+pagination.forward_pages[0])}}" aria-label="Next">
                                    &rarr;
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>