<div class="sidebar hidden-xs">
                    <p>{{q}} jobs</p>
                    
                    <!-- <p>Sort by: <b>Relevance</b> - <a href="#">date</a></p> -->
                    
                    <ul class="drop">
                        {%for category, facet in facets.iteritems() %}
                            {% if facet|length > 0 %}
                                <li>{{category|replace("_"," ")|title}}</li>
                                <ul class="short">
                                    {%for label, obj in facet.iteritems() %}
                                    <li class="facets"><a href="?{{obj.url}}">{{label|title}} ({{obj.count}})</a></li>
                                    {% endfor %}
                                    <li class ="more">more</li>
                                </ul> 
                            {% endif %}       
                        {% endfor %}
                    </ul>
                </div>