@import "libraries/bourbon/bourbon.scss"; 
@import "libraries/neat/neat.scss";
@import "_variables.scss";
@import "_mixins.scss";

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
    color: $link;
}

body {
    font-size: $size-normal;
    font-family: 'Open Sans', sans-serif;
}

.index-content {
    width: 65%;
    margin: auto;

    @include media(min-width 320px max-width 480px) {
        width: 100%;
    }

    .container-fluid {
        @include span-columns(12);

        .left {
            @include span-columns(5.5 of 12);

            h3 {
                margin-top: 0px;
            }
        }

        .right {
            @include span-columns(6.5 of 12);
        }
    }
}

.share {
    font-size: $size-large;

    p {
        display: inline-block;
    }

    i {
        margin-left: 10px;
    }
}

.main-content {
    margin: auto;
    width: 75%;
    margin-top: 25px;

    @include media(min-width 320px max-width 480px) {
        width: 100%;
    }
}

.input-sm {
    height: 25px;
}

.form-button {
    display: block;


    .button {
        margin: auto;
        width: 100%;
    }
}

caption {
    padding-top: 8px;
    padding-bottom: 5px;
    color: #777;
    text-align: left;
}

.search-bars {
    @include span-columns(12);
    margin-bottom: 20px;

    .search-what {
        @include span-columns(5 of 12);
        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
        }

        span {
            color: $text-muted;
            font-size: $size-small +1;
            padding-left: 3px;
        }

        label {
            color: $search-headers;
            font-size: $size-extra-large;
        }
    }

    .search-where {
        @include span-columns(4.7 of 12);

        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
        }

        span {
            color: $text-muted;
            font-size: $size-small +1;
            padding-left: 3px;
        }

        label {
            color: $search-headers;
            font-size: $size-extra-large;
        }
    }

    .find-button {
        @include span-columns(2.3 of 12);
        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
        }

        span {
            color: $text-muted;
            font-size: $size-small +1;
            padding-left: 3px;
        }
    }
}

.job-search {
    @include outer-container(100%);

    .container-fluid {
        .logo {
            @include span-columns(1.8);

            img {
                @include fill-parent();
            }
        }

        .search-bars {
            @include span-columns(7);
            margin-bottom: 20px;

            .search-what {
                @include span-columns(2.4 of 7);

                span {
                    color: $text-muted;
                    font-size: $size-small +1;
                    padding-left: 3px;
                }

                label {
                    color: $search-headers;
                    font-size: $size-extra-large;
                }
            }

            .search-where {
                @include span-columns(2.3 of 7);

                span {
                    color: $text-muted;
                    font-size: $size-small +1;
                    padding-left: 3px;
                }

                label {
                    color: $search-headers;
                    font-size: $size-extra-large;
                }
            }

            .find-button {
                @include span-columns(1.4 of 7);

                span {
                    color: $text-muted;
                    font-size: $size-small +1;
                    padding-left: 3px;
                }
            }
        }
    }
}

.upload-resume {
    display: block;
    margin-top: 15px;
}

.how-to-content {
    margin-top: 30px;
}

.popular-search {

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 2px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: none;
        font-size: $size-normal + 1;
    }

    .table > tbody {
        border-bottom: 1px solid $search-headers;
        border-top: 1px solid $search-headers;
    }
}

.company-credits {

    p {
        margin: 0px;
    }

    .extra {
        margin-top: 15px;
    }
}

.not-visible {
    visibility: hidden;
    margin-bottom: 7px;
}

.footer {
    width: 100%;
    position: absolute;
    height: 25px;
    background-color: #f5f5f5;
    bottom: 0;

    .container-fluid {

        a {
            padding: 5px;
            margin-top: 10px;
            font-size: $size-normal;
        }
    }
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}

.navbar {
    min-height: 20px;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a {
    color: $link;
}

.yellow {
    color: $search-headers !important;
}

.blue {
    background-color: darken($brand-color, 15%);
    color: white;
}

.adjust {
    padding: 10px 35px;
    border-radius: 4px;
    background-color: darken($brand-color, 10%);
    color: white;
}

.how-to-content {
    @include span-columns(12);

    .left {
        @include span-columns(7 of 12);
        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
        }

        .process {
            margin-bottom: 15px;

            .process-image {
                @include span-columns(3.5 of 7);

                @include media(min-width 320px max-width 480px) {
                    @include span-columns(12);
                }

                iframe {
                    @include fill-parent();
                }

                img {
                    @include fill-parent();
                }

                .watch {
                    position: absolute;
                    background-color: $search-headers;
                    color: white;
                    margin-top: -25px;
                    width: 16.8%;

                    p {
                        margin: 0px;
                        padding-left: 5px
                    }
                }
            }

            .process-details {
                @include span-columns(3.5 of 7);
                @include media(min-width 320px max-width 480px) {
                    @include span-columns(12);
                }

                h4 {
                    margin-bottom: 3px;
                }
            }
        }
    }

    .right {
        @include span-columns(5 of 12);
        @include media(min-width 320px max-width 480px) {
            @include span-columns(12);
        }

        .right-story {
            margin-top: 20px;
            margin-left: 15px;

            p {
                margin-bottom: 15px;
                line-height: 1.7em;
            }
        }
    }
}

.navbar-header { 
    @include media(min-width 320px max-width 480px) {
        background: url(../../img/download.png) 2% 55% no-repeat;
        background-size: auto 35px;
    }

}
.auto-complete-what {
    border: 1px solid #ccc;
    color: #555;
    background: #fff;
    position: absolute;
    @include span-columns(6.2);
    margin-top: -17px;
    z-index: 1;
    
    @include media(min-width 320px max-width 480px) {
        @include span-columns(10.85);
    }
    
    .auto-item {
        padding-left: 10px;
        padding: 5px;
        cursor: pointer;
        
        &:hover {
            background-color: $link;
            color: white;
        }
        
        p {
            margin: 0px;
            font-weight: 600;
        }
    }
}

.auto-complete-where {
    @extend .auto-complete-what;
    @include span-columns(3.05);
    
    @include media(min-width 320px max-width 480px) {
        @include span-columns(10.85);
    }
}

.email-alert {
    background-color: #EBEBEB;
    padding: 15px;
    border: 1px solid darken(#EBEBEB, 10%);

    .form-group {
        @include span-columns(12);

        label {
            @include span-columns(5 of 12);
            font-size: $size-normal;
            @include media(min-width 320px max-width 480px) {
                @include span-columns(12);
            }
        }

        input { 
            @include span-columns(7 of 12);
            @include media(min-width 320px max-width 480px) {
                @include span-columns(12);
            }
        }

        select {
            @include span-columns(7 of 12);
        }
    }

    .form-button {

        button {
            margin-bottom: 15px;
        }
    }
}

.search-results {
    
    .container-fluid {
        @include span-columns(12);
        
        .sidebar {
            @include span-columns(2 of 12);
            
            .drop {
                padding-left: 0px;
                list-style-type: none;
                
                > li {
                    font-weight: 600;
                }
            }
            
        }
        
        .search-result-content {
            @include span-columns(5.5 of 12);
            
            @include media(min-width 320px max-width 480px) {
                @include span-columns(12);
            }
            
            .result-item {
                margin-top: 20px;
                margin-bottom: 20px;
                
                h4 {
                    margin: 0px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                
                p {
                    margin: 0px;
                    font-weight: 400;
                    font-size: $size-normal + 1;
                }
            }
            
            .random-links {
                margin-top: 20px;
                border-top: 2px solid $search-headers;
                padding-top: 10px;
                margin-bottom: 20px;
            }
        }
        
        .subscriptions {
            @include span-columns(3 of 12);
            background-color: #ebebeb;
            padding: 20px;
            margin-bottom: 10px;
            
            @include media(min-width 320px max-width 480px) {
                @include span-columns(12);
            }
            
            p {
                margin-top: 10px;
            }
            
            button {
                margin-top: 5px;
            }
        }
    }
}

footer > .container-fluid > a {
    margin: 10px;
}